/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

/* COMMON STYLE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: inherit;
}

.blue {
  color: #172b4d;
}

.green {
  color: #36b37e;
}

.btn-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 48px;
  left: 108px;
  bottom: 8px;
  background-color: #36b37f;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

/* TOP NAVIGATION */

.bars {
  position: absolute;
  width: 100%;
  min-height: 44px;
  top: 0;
}

.top-navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
  min-height: 92px;
  background: transparent;
}

.burger {
  display: flex;
  flex-direction: column;
  padding: 3% 10%;
  min-height: 50px;
}

.burger-lines {
  height: 1.5rem;
  width: 2rem;
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-line {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

#toggle {
  display: none;
}

.burger:hover .burger-line {
  background-color: #36b37e;
  cursor: pointer;
}

#toggle:checked + .burger .line-0 {
  transform: rotate(-45deg);
  background: #36b37e;
}

#toggle:checked + .burger .line-1 {
  transform: rotate(-45deg);
  opacity: 0%;
}

#toggle:checked + .burger .line-2 {
  transform: rotate(45deg);
  background: #36b37e;
}

/* HEADER */

.header {
  background: url(../img/header-bg.png) no-repeat top center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 5%;
}

/* HEADLINE */

.headline {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
}

.headline-heading {
  font-weight: 700;
  font-size: clamp(1.8rem, 4vw, 2.1rem);
  line-height: 130%;
  padding-bottom: 5%;
  text-align: center;
}

.supporting-text {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 4vw, 1.3rem);
  line-height: 160%;
  text-align: justify;
  max-width: 330px;
}

/* SOCIAL MEDIA */

.social {
  padding-top: 5%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 6%;
}

.social-icons-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  height: auto;
  width: auto;
}

.social-icon {
  display: flex;
  vertical-align: top;
  margin-right: 1.5rem;
  padding-bottom: 2rem;
  width: 5%;
  height: 5%;
}

.social-icon i {
  color: #505f79;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

/* SCROLL BUTTON */

.btn-scroll-down {
  border: 1px solid #dfe1e6;
  border-radius: 32px;
}

.chevron-down {
  color: #172b4d;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 12.5px;
  top: 10px;
}

.chevron-down:hover {
  background-color: #36b37e;
  color: #fff;
  cursor: pointer;
}

.social-icon i:hover {
  color: #36b37e;
}

/* WORKS */

.works-heading {
  text-align: center;
}

.projects-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.project-card {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(252px, 1fr));
  align-items: stretch;
  margin: 3% 0;
  height: 474px;
  min-width: 369px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d0d9d4;
}

.project-card-heading {
  color: #172b4d;
}

.project-card img {
  max-width: 100%;
}

.project-card-content {
  display: grid;
  grid-gap: 20px;
  padding: 3% 3% 6% 3%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
}

.skills-list {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  text-align: center;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background-color: #d0d9d4;
}

.btn-see-project {
  place-self: center;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 200px) and (max-width: 375px) {
  .headline {
    margin-top: -50%;
  }
}

@media only screen and (max-width: 330px) {
  .skills-list {
    grid-template-columns: 1fr;
  }

  .skill {
    padding: 1%;
  }

  .btn-success {
    padding: 3%;
    width: auto;
    height: auto;
  }

  .project-card {
    grid-template-rows: 200px 1fr 1fr;
    min-width: fit-content;
    max-width: 369px;
  }
}

@media only screen and (min-width: 375px) {
  .bars {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .projects-set {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-card {
    margin: 1%;
  }
}
